body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: white;
  border-color: white;
  background: url(/Users/suhaansridhar/Desktop/React/weatherapplication/public/wallpaperReact.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main--container--inner{
  width: 50%;
  margin: 100px auto;
  padding: 1rem;
  box-shadow: white 2px 2px 4px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.weather--location--name{
  padding: 1rem;
  font-size: 1.4rem;
}

.inner--container--2{
  border: 0.1rem solid white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.weather--temperature{
  font-size: 3rem;
}

.search--container{
  display: flex;
  justify-content: center;
}

.search--container input{
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
  text-transform: capitalize;
}

.search--container button{
  cursor: pointer;
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
  font-size: 1rem;
  background-color: none;
}
